{% extends "base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8 p-4">
    <!-- Blog Post -->
    <div class="card mb-4 my-6">
        <img class="card-img-top" src="https://sonomacounty.ca.gov/uploadedImages/Sonoma_County_Portal/Human_Services/_Uploaded_Images/_Content/Employment_and_Training/e-t-wib-light-bulb-750x300.jpg?n=8565" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.body | linebreaks }}</p>
            
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.published_date }}
            by
            <a href="#">
            <span class="text-info mr-2">
            
            {{ post.author}} 
            </span>
            </a>
        </div>
    <a href="{% url 'home' %}" class="btn btn-dark">&larr; Back to home</a><br>
    <a href="{% url 'post_edit' post.pk %}" class="btn btn-outline-info">Update</a> <br>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-outline-danger">Delete</a>
    </div>
</div>
{% endblock %}