{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 pt-4">
    <div class="card mb-4 my-6 py-5 shadow-lg">
        <div class="card-header m-1">
            <h1>Just sign in into your account to access your preferences</h1>
        </div>
        <div class="card-header">
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Sign in" class="btn btn-primary">
            </form>
            <p>Don't  have an account? <a class="text-primary" href="{% url 'register' %}">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock %}