{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8">
    <div class="card mb-4 my-6 shadow-lg">
        <div class="card-header">
            <h2>Create an account</h2>
        </div>
        <div class="card-body">
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
            <div class="m-1 p-2">
            <p>Already have an account? <a class="text-primary" href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}